:root {
  --font-family-default: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 1.75rem;
  --radius-sm: 4px;
  --radius-lg: 8px;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
  --space-6: 36px;
  --space-7: 48px;
  --color-background: var(--light, #fff) var(--dark, #111113);
  --color-surface: var(--light, #fff) var(--dark, #111113);
  --color-primary-bg: var(--light, #e1f6fd) var(--dark, #112840);
  --color-primary-bg-hover: var(--light, #d1f0fa) var(--dark, #113555);
  --color-primary-bg-active: var(--light, #bee7f5) var(--dark, #154467);
  --color-primary-text: var(--light, #1a81fa) var(--dark, #75c7f0);
  --color-neutral-bg-subtle: var(--light, #f9f9fb) var(--dark, #18191b);
  --color-neutral-bg: var(--light, #f0f0f3) var(--dark, #212225);
  --color-neutral-bg-hover: var(--light, #e8e8ec) var(--dark, #272a2d);
  --color-neutral-bg-active: var(--light, #e0e1e6) var(--dark, #2e3135);
  --color-neutral-line-weak: var(--light, #e0e1e6) var(--dark, #2e3135);
  --color-neutral-line: var(--light, #d9d9e0) var(--dark, #363a3f);
  --color-neutral-border: var(--light, #cdced6) var(--dark, #43484e);
  --color-neutral-text: var(--light, #60646c) var(--dark, #b0b4ba);
  --color-neutral-text-contrast: var(--light, #1c2024) var(--dark, #edeef0);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --light: ;
    --dark: initial;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --light: initial;
    --dark: ;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-background);
  color: var(--color-neutral-text-contrast);
  font-family: var(--font-family-default);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

input,
button {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  scroll-margin-block-start: 6rem;
}

small {
  color: var(--color-neutral-text);
  font-weight: 400;
  font-size: var(--font-size-sm);
}

:where(ul[role]) {
  margin: 0;
  padding: 0;
  list-style: none;
}

hr {
  background-color: var(--color-neutral-border);
  border: none;
  block-size: 1px;
  margin: 0;
}

/* Drawer toggle */
.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-2);
  border-radius: var(--rounded-full);
  color: var(--color-primary-text);
  cursor: pointer;
  background: none;
  border: 0;
  margin: 0;
  transition: all 0.3s;
}

.icon-btn:hover,
.icon-btn:focus-visible {
  background-color: var(--color-neutral-bg-hover);
}

.icon-btn:active {
  background-color: var(--color-neutral-bg-active);
}

/* Header */
.app-header {
  z-index: 3;
  gap: var(--space-3);
  block-size: 4rem;
  padding-block: var(--space-2);
  padding-inline: var(--space-4);
  border-bottom: 1px solid var(--color-neutral-line);
  background-color: var(--color-surface);
  align-items: center;
  transition: box-shadow 0.2s ease-in-out;
  display: flex;
  position: sticky;
  inset-block-start: 0;
}

.app-header > :not(.app-header__title) {
  flex-shrink: 0;
}

.app-header__group {
  margin-left: var(--space-3);
  margin-right: auto;
}

.app-header__title {
  outline-offset: var(--space-2);
  color: var(--color-neutral-text-contrast);
  font-size: var(--font-size-l);
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  overflow: hidden;
}

a.app-header__title:hover {
  color: var(--color-primary-text);
}

.app-header__separator {
  padding-inline: var(--space-2);
}

/* Main layout */
.app-layout {
  height: 100%;
}

.app-layout__wrapper {
  display: flex;
  width: 100%;
  height: calc(100% - 4rem);
}

/* Sidebar */
.sidebar {
  z-index: 2;
  inset: 4rem 0 0;
  height: calc(100vh - 4rem);
  overflow: hidden;
  position: fixed;
  right: 0;
  left: auto;
  max-width: 100%;
  width: min(400px, 100vw);
  flex-shrink: 0;
  border-left: solid 1px var(--color-neutral-border);
}

@media (min-width: 640px) {
  .sidebar {
    position: sticky;
    margin-left: auto;
    order: 1;
  }
}

.sidebar__inner {
  min-height: 100%;
  width: 100%;
  padding-block: var(--space-4);
  background-color: var(--color-surface);
  overflow: auto;
  overscroll-behavior: contain;
  height: 100%;
  margin-left: auto;
}

#sidebar:checked + .sidebar {
  display: none;
}

.page {
  width: 100%;
}

.page__main {
  max-width: 100%;
  height: 100%;
  padding-inline: var(--space-6);
  padding-block: var(--space-6);
  margin-inline: auto;
  scroll-margin-block-start: 6rem;
}

.page__title {
  font-size: var(--font-size-xxl);
  line-height: 1.3;
  margin-block-end: var(--space-3);
}

.sample {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Navigation */
.components__link {
  gap: var(--space-2);
  padding-block: var(--space-2);
  padding-inline: var(--space-3);
  border-radius: var(--radius-lg);
  color: var(--color-neutral-text);
  align-items: center;
  text-decoration: none;
  display: flex;
}

.components__link:hover {
  background-color: var(--color-neutral-bg);
}

.components__link[aria-current='page'] {
  background-color: var(--color-primary-bg);
}

.components__link span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.components {
  display: none;
  padding-inline: var(--space-4);
  margin-block: var(--space-4);
}

.components__title {
  font-size: var(--font-size-sm);
  font-weight: 700;
  color: var(--color-neutral-text);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-block-end: var(--space-2);
  margin-inline-start: var(--space-3);
}

.components--show {
  display: block;
}

/* Drawer toggle checkbox */
.visually-hidden {
  white-space: nowrap;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  block-size: 1px !important;
  inline-size: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
}

/* Prevent FOUC */
*:not(:defined):not(vaadin-dialog-content) {
  visibility: hidden;
}

/* Toolbar */
.toolbar {
  display: flex;
  padding-inline: var(--space-4);
}

.toolbar__label {
  display: inline-flex;
  align-items: center;
  color: var(--color-primary-text);
  padding: var(--space-2);
  cursor: pointer;
  gap: var(--space-2);
}

.toolbar__icon {
  padding: 0;
}

/* Sidebar tabs */

.controls__knobs,
.controls__styles {
  display: none;
}

#components:checked + .components {
  display: block;
}

#knobs:checked + .controls__knobs {
  display: block;
}

#styles:checked + .controls__styles {
  display: block;
}

/* Playground */
.controls {
  margin-top: var(--space-4);
  padding-inline: var(--space-4);
}

.controls__title {
  font-size: var(--font-size-sm);
  font-weight: 700;
  color: var(--color-neutral-text);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-block-end: var(--space-2);
  margin-inline-start: var(--space-3);
}

.controls__group {
  display: grid;
  margin-block: var(--space-4);
  grid-template-columns: minmax(120px, auto) 1fr;
  gap: 1rem 0.5rem;
}

.control {
  display: contents;
}

.control__label {
  padding-inline: var(--space-3);
  color: var(--color-neutral-text);
}

.control__value {
  justify-self: start;
}

:is(input[type='text'], input[type='number'], select) {
  width: 100%;
  max-width: 320px;
}
