:root {
  --font-family-default:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-fluid-x2: clamp(0.79rem, calc(0.76rem + 0.17vw), 0.89rem);
  --font-size-fluid-x1: clamp(0.89rem, calc(0.85rem + 0.19vw), 1rem);
  --font-size-fluid-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --font-size-fluid-1: clamp(1.13rem, calc(1.08rem + 0.24vw), 1.27rem);
  --font-size-fluid-2: clamp(1.27rem, calc(1.21rem + 0.28vw), 1.42rem);
  --font-size-fluid-3: clamp(1.42rem, calc(1.36rem + 0.31vw), 1.6rem);
  --font-size-fluid-4: clamp(1.6rem, calc(1.53rem + 0.35vw), 1.8rem);
  --font-size-fluid-5: clamp(1.8rem, calc(1.72rem + 0.39vw), 2.03rem);
  --radius-sm: 4px;
  --radius-lg: 8px;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
  --space-6: 36px;
  --space-7: 48px;
  --color-background: var(--light, #fff) var(--dark, #111113);
  --color-surface: var(--light, #fff) var(--dark, #111113);
  --color-primary-bg: var(--light, #e1f6fd) var(--dark, #112840);
  --color-primary-bg-hover: var(--light, #d1f0fa) var(--dark, #113555);
  --color-primary-bg-active: var(--light, #bee7f5) var(--dark, #154467);
  --color-primary-text: var(--light, #1a81fa) var(--dark, #75c7f0);
  --color-neutral-bg-subtle: var(--light, #f9f9fb) var(--dark, #18191b);
  --color-neutral-bg: var(--light, #f0f0f3) var(--dark, #212225);
  --color-neutral-bg-hover: var(--light, #e8e8ec) var(--dark, #272a2d);
  --color-neutral-bg-active: var(--light, #e0e1e6) var(--dark, #2e3135);
  --color-neutral-line-weak: var(--light, #e0e1e6) var(--dark, #2e3135);
  --color-neutral-line: var(--light, #d9d9e0) var(--dark, #363a3f);
  --color-neutral-border: var(--light, #cdced6) var(--dark, #43484e);
  --color-neutral-text: var(--light, #60646c) var(--dark, #b0b4ba);
  --color-neutral-text-contrast: var(--light, #1c2024) var(--dark, #edeef0);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --light: ;
    --dark: initial;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --light: initial;
    --dark: ;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-neutral-text-contrast);
  font-family: var(--font-family-default);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

input,
button {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  scroll-margin-block-start: 6rem;
}

small {
  color: var(--color-neutral-text);
  font-weight: 400;
  font-size: var(--font-size-fluid-x1);
}

:where(ul[role]) {
  margin: 0;
  padding: 0;
  list-style: none;
}

hr {
  background-color: var(--color-neutral-border);
  border: none;
  block-size: 1px;
  margin: 0;
}

/* Drawer toggle */
.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-2);
  border-radius: var(--rounded-full);
  color: var(--color-primary-text);
  cursor: pointer;
  background: none;
  border: 0;
  margin: 0;
  transition: all 0.3s;
}

.icon-btn:hover,
.icon-btn:focus-visible {
  background-color: var(--color-neutral-bg-hover);
}

.icon-btn:active {
  background-color: var(--color-neutral-bg-active);
}

/* Header */
.app-header {
  z-index: 3;
  gap: var(--space-3);
  block-size: 4rem;
  padding-block: var(--space-2);
  padding-inline: var(--space-4);
  border-bottom: 1px solid var(--color-neutral-line);
  background-color: var(--color-surface);
  align-items: center;
  transition: box-shadow 0.2s ease-in-out;
  display: flex;
  position: sticky;
  inset-block-start: 0;
}

.app-header > :not(.app-header__title) {
  flex-shrink: 0;
}

.app-header__group {
  margin-left: var(--space-3);
  margin-right: auto;
}

.app-header__title {
  outline-offset: var(--space-2);
  color: var(--color-neutral-text-contrast);
  font-size: var(--font-size-fluid-0);
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  overflow: hidden;
}

a.app-header__title:hover {
  color: var(--color-primary-text);
}

.app-header__separator {
  padding-inline: var(--space-2);
}

/* Main layout */
.app-layout__sidebar {
  z-index: 2;
  inset: 4rem 0 0;
  height: calc(100vh - 4rem);
  overflow: hidden;
  position: fixed;
  right: 0;
  left: auto;
  max-width: 100%;
  width: min(400px, 100vw);
  border-left: solid 1px var(--color-neutral-border);
}

.app-layout__sidebar-inner {
  min-height: 100%;
  width: 100%;
  padding-block: var(--space-4);
  background-color: var(--color-surface);
  overflow: auto;
  overscroll-behavior: contain;
  height: 100%;
  margin-left: auto;
}

#navigation:checked + .app-layout__sidebar {
  display: none;
}

.page__main {
  max-width: 100%;
  padding-inline: var(--space-6);
  padding-block: var(--space-6);
  margin-inline: auto;
  scroll-margin-block-start: 6rem;
}

.page__title {
  font-size: var(--font-size-fluid-5);
  line-height: 1.3;
  margin-block-end: var(--space-3);
}

/* Page actions */
.actions {
  display: flex;
  gap: var(--space-4);
  align-items: center;
  font-size: var(--font-size-sm);
}

.actions__btn {
  display: flex;
  align-items: center;
  padding: var(--space-1);
  gap: var(--space-1);
  border-radius: var(--radius-sm);
  cursor: pointer;
  color: var(--color-primary-text);
  background: none;
  border: none;
  text-decoration: none;
}

.actions__btn:hover {
  background: var(--color-neutral-bg-hover);
}

/* Content */
.article > * + * {
  margin-block: var(--flow-space, 1.5em) 0;
}

.article h1 + *,
.article h2 + *,
.article h3 + *,
.article h4 + *,
.article h5 + *,
.article h6 + *,
.article p + ul,
.article p + ol {
  --flow-space: 0.75em;
}

.article p {
  line-height: 1.6;
}

.article ul {
  list-style-type: disc;
}

.article ul,
.article ol {
  padding-inline-start: var(--space-4);
}

.article ul ul,
.article ul ol,
.article ol ul,
.article ol ol {
  margin-block-start: 0.3em;
}

.article ul[data-link-list] a:not(:hover),
.article ol[data-link-list] a:not(:hover) {
  text-decoration: none;
}

.article li + li {
  margin-block-start: 0.3em;
}

.article h1 {
  font-size: var(--font-size-fluid-4);
}

.article h2 {
  font-size: var(--font-size-fluid-3);
}

.article h3 {
  font-size: var(--font-size-fluid-2);
}

.article h4 {
  font-size: var(--font-size-fluid-1);
}

.article h5 {
  font-size: var(--font-size-fluid-0);
}

.article h6 {
  font-size: var(--font-size-fluid-x2);
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  line-height: 1.25;
}

.article a {
  color: var(--color-primary-text);
  text-underline-offset: 5px;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
}

.article a:hover {
  text-decoration-style: solid;
}

.article table {
  border-top: 1px solid var(--color-neutral-border);
  border-collapse: collapse;
  inline-size: 100%;
}

.article table td,
.article table th {
  border-bottom: 1px solid var(--color-neutral-border);
  padding-inline: var(--space-1);
}

.article table td {
  padding-block: var(--space-3);
}

.article table th {
  padding-block: var(--space-2);
  font-size: var(--font-size-xs);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.article blockquote {
  border-inline-start: 3px solid var(--color-neutral-line);
  padding-inline-start: var(--space-4);
}

.article blockquote p {
  color: var(--color-neutral-text);
  font-style: italic;
}

.article pre,
.article code {
  font-family: var(--font-family-mono);
  line-height: 1.5;
}

.article pre {
  text-align: start;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  hyphens: none;
  border-radius: var(--radius-lg);
  background-color: var(--color-neutral-bg-subtle);
  direction: ltr;
  padding: 1em;
  font-size: 14px;
  line-height: 1.375;
  overflow: auto;
  box-shadow: 1px 1px #0000000d;
}

.article code {
  border-radius: var(--radius-sm);
  background-color: var(--color-neutral-bg);
  padding: 0.2em 0.3em;
  font-size: 0.9em;
}

.article pre code {
  font-size: inherit;
  word-break: break-all;
  padding: 0;
  background-color: #0000 !important;
}

.article .anchor-link {
  outline-offset: 4px;
  color: #0000;
  margin-inline-start: 0.1em;
  text-decoration: none;
  transition: color 0.3s;
}

.article :hover > .anchor-link,
.article .anchor-link:focus {
  color: var(--color-neutral-text);
}

/* Navigation */
.nav-list__link {
  gap: var(--space-2);
  padding-block: var(--space-2);
  padding-inline: calc(var(--space-3) + var(--nav-list-level, 0) * var(--space-4)) var(--space-3);
  border-radius: var(--radius-lg);
  color: var(--color-neutral-text);
  align-items: center;
  text-decoration: none;
  display: flex;
}

.nav-list__link:hover {
  background-color: var(--color-neutral-bg);
}

.nav-list__link[aria-current='page'] {
  background-color: var(--color-primary-bg);
}

.nav-list__link span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nav-section {
  padding-inline: var(--space-4);
  margin-block-start: var(--space-7);
}

.nav-section:first-of-type,
.nav-section.nav-section--continued {
  margin-block-start: var(--space-4);
}

.nav-section:last-of-type {
  margin-block-end: var(--space-4);
}

.nav-section__title {
  font-size: var(--font-size-sm);
  font-weight: 700;
  color: var(--color-neutral-text);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-block-end: var(--space-2);
  margin-inline-start: var(--space-3);
}

/* Drawer toggle checkbox */
.visually-hidden {
  white-space: nowrap;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  block-size: 1px !important;
  inline-size: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
}

/* Prevent FOUC */
*:not(:defined):not(vaadin-dialog-content) {
  visibility: hidden;
}

/* Playground */
.controls {
  margin-top: var(--space-4);
  padding-inline: var(--space-4);
}

.controls__title {
  font-size: var(--font-size-sm);
  font-weight: 700;
  color: var(--color-neutral-text);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-block-end: var(--space-2);
  margin-inline-start: var(--space-3);
}

.controls__group {
  display: grid;
  margin-block: var(--space-4);
  grid-template-columns: minmax(120px, auto) 1fr;
  gap: 1rem 0.5rem;
}

.control {
  display: contents;
}

.control__label {
  padding-inline: var(--space-3);
  color: var(--color-neutral-text);
}

.control__value {
  justify-self: start;
}

:is(input[type='text'], input[type='number'], select) {
  width: 100%;
  max-width: 320px;
}
