<!doctype html>
<html lang="en-GB">
<head>
  <title>{{ title if title else metadata.title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/index.css" rel="stylesheet">
</head>

<body>
  <div class="app-layout">
    {% include "partials/header.njk" %}

    <div class="app-layout__wrapper">
      <input type="checkbox" name="sidebar" id="sidebar" class="visually-hidden" />

      <div class="sidebar">
        <div class="sidebar__inner">
          {% include "partials/toolbar.njk" %}
          {% include "partials/components.njk" %}
          {% include "partials/controls.njk" %}
        </div>
      </div>

      <div class="page">
        <main class="page__main">
          <div class="sample">
            {% component sample %}
          </div>
        </main>
      </div>
    </div>

  </div>
  <script type="module" src="/assets/playground.js"></script>
</body>
</html>
