<header class="app-header">
  <div class="app-header__group">
    {% if '/' == page.url %}
    <span class="app-header__title">Components</span>
    {% else %}
    <a href="/" class="app-header__title">Components</a>
    <span class="app-header__separator">></span>
    <span class="app-header__title">{{ title }}</span>
    {% endif %}
  </div>

  <label for="sidebar" class="icon-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="1.125em" height="1.125em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
      <path d="M4 12h16"></path><path d="M4 18h16"></path><path d="M4 6h16"></path>
    </svg>
  </label>
</header>
