<nav class="nav-section">
  <h3 class="nav-section__title">
    Components
  </h3>
  <ul role="list" class="nav-list">
    {% for doc in collections.components  %}
      <li>
        <a href="{{ doc.url }}" class="nav-list__link">
          {{ doc.data.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
